@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}

@{
    ViewBag.Title = "Nuevo Encabezado";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Nuevo Cliente</h2>

<form id="frmNuevoCliente" method="post">
    <div class="row col-sm-6">
        <div class="form-group col-6">
            <label>Número de Factura:</label>
            <input type="text" name="numFactura" id="numFactura" class="form-control" />
        </div>

        <div class="form-group col-6">
            <label>Cliente:</label>
            <select name="nomCliente" id="nomCliente" class="form-control"></select>
        </div>

        <div class="form-group col-6">
            <label>Correo Electrónico:</label>
            <input type="text" name="correo" id="correo" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label>Cédula:</label>
            <input type="text" name="numCedula" id="numCedula" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label>Teléfono:</label>
            <input type="text" name="pTelefono" id="pTelefono" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label>Placa Vehículo:</label>
            <select name="placaVehiculo" id="placaVehiculo" class="form-control"></select>
        </div>
        <div class="form-group col-6">
            <label>Marca Vehículo:</label>
            <select name="marcaVehiculo" id="marcaVehiculo" class="form-control"></select>
        </div>
        <div class="form-group col-6">
            <label>Tipo Vehículo:</label>
            <select name="tipoVehiculo" id="tipoVehiculo" class="form-control selectCanton"></select>
        </div>
        <div class="form-group col-6">
            <label>Fecha Facturación:</label>
            <input type="text" name="fecha" id="fecha" class="form-control" readonly />
        </div>
        <div class="form-group col-6">
            <label>Monto Total:</label>
            <input type="text" name="montoTotal" id="montoTotal" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <button type="submit" id="btnRegistrar" class="btn btn-success btnRegistrar">Registrar</button>
    </div>
</form>
<a href="~/MantFacturas/ListaEncabezado" class="btn btn-warning">Regresar a la lista</a>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/mantFacturas/mantFacturas.js"></script>
}