@section css{
    <link href="~/Content/Principal/pagPrincipal.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}
<div class="container-principal">
    <section class="seccionHeader">
        <div class="containerHeader">
            <div class="panel">
                <div class="row">
                    <div class="col liquid">
                        <!---Carousel---->
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 login_img" src="~/Content/img/LOGIN.svg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 login_img" src="~/Content/img/IMGLogin2.svg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 login_img" src="~/Content/img/IMGLogin3.svg" alt="Third slide">
                                </div>
                            </div>
                        </div>
                        <!---Carousel---->
                    </div>
                    <div class="col info">
                        <div class="contenidoinfo">
                            <div class="titles">
                                <h3>SmartVehicle</h3>
                                <p>
                                    Disfruta de todos los beneficios exclusivos para
                                    todos nuestros clientes. Contamos con un servicio
                                    estrictamente Luxury y económico.
                                </p>
                            </div>
                            <button type="button" class="btn btn-signup">¡Descúbrenos!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{

}
