
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}
<div class="container-principal">
    <section class="seccionHeader">
        <div class="containerHeader">
            <h1>Seguros, El equipo del Siglo XXI</h1>
            <h2>¡Nos preocupamos por tu salud!</h2>
        </div>
    </section>
    <p>asdasdasdas</p>
</div>
