@section css{
    <link href="~/Content/Principal/pagPrincipal.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}
<div class="container-principal">
    <section class="seccionHeader">
        <div class="containerHeader">
            <div class="panel">
                <div class="row">
                    <div class="col liquid">
                        <!---Carousel---->
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <span class="d-block w-100 login_img sprite Login1"></span>
                                </div>
                                <div class="carousel-item">
                                    <span class="d-block w-100 login_img sprite Login2"></span>
                                </div>
                                <div class="carousel-item">
                                    <span class="d-block w-100 login_img sprite Login3"></span>
                                </div>
                            </div>
                        </div>
                        <!---Carousel---->
                    </div>
                    <div class="col info">
                        <div class="contenidoinfo">
                            <div class="titles">
                                <h3>SmartVehicle</h3>
                                <p>
                                    Disfruta de todos los beneficios exclusivos para
                                    todos nuestros clientes. Contamos con un servicio
                                    estrictamente Luxury y económico.
                                </p>
                            </div>
                            <button type="button" class="btn btn-signup">¡Descúbrenos!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-mantenimiento">
        <div class="card-deck">
            <div class="card">
                <span class="card-img-top spriteCard cambioLlantas" alt="Card image cap"></span>
                <div class="card-body">
                    <h5 class="card-title">Cambios de Llantas</h5>
                    <p class="card-text">Realiza el cambio, inspección, reparación de llantas para tu vehículo. Contamos con todo tipo de tamaños y modelos que te beneficiarán.</p>
                    <button type="button" class="btn btn-card">¡Descúbrenos!</button>
                </div>
            </div>
            <div class="card">
                <span class="card-img-top spriteCard reparacionVehiculo" alt="Card image cap"></span>
                <div class="card-body">
                    <h5 class="card-title">Reparación Vehículo</h5>
                    <p class="card-text">Realiza una inspección con nuestros servicios con la mayor tecnología para aumentar el rendimiento del vehículo. Estamos siempre disponibles.</p>
                    <button type="button" class="btn btn-card">¡Descúbrenos!</button>
                </div>
            </div>
            <div class="card">
                <span class="card-img-top spriteCard repuestoVehiculo" alt="Card image cap"></span>
                <div class="card-body">
                    <h5 class="card-title">Repuestos Vehículos</h5>
                    <p class="card-text">Contamos con diferentes repuestos según las necesidades de los clientes, a su vez, podrás personalizarlos. Revísalos ahora mismo.</p>
                    <button type="button" class="btn btn-card">¡Descúbrenos!</button>
                </div>
            </div>
            <div class="card">
                <span class="card-img-top spriteCard tiendaVehiculo" alt="Card image cap"></span>
                <div class="card-body">
                    <h5 class="card-title">Productos Vehículo</h5>
                    <p class="card-text">Todos nuestros productos son de alta gama en diferentes estilos hasta Luxury, aprovecha todos nuestras promociones y precios cómodos.</p>
                    <button type="button" class="btn btn-card">¡Descúbrenos!</button>
                </div>
            </div>
        </div>
    </section>
    <section class="info-video">
        <div class="embed-responsive embed-responsive-21by9">
            <video src="~/Content/y2mate.com - Yokasta Valle Soluciones  Universidad Castro Carazo 2020_480p.mp4" controls class="embed-responsive-item"></video>
        </div>
    </section>
    <section class="info-audio">
        <br />
            <audio src="~/Content/viva-saprissa-cancion-del-deportivo-saprissa.mp3" preload="none" autoplay controls></audio>
    </section>
</div>

@section scripts{

}
