<!--Indicar a la vista el modelo-->
@model List<SistVehiculo.Models.pa_RetornaTiposVehiculo_Result>

@{
    ViewBag.Title = "Lista Tipos Vehículos";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Lista de Tipos de Vehículos</h2>
<a href="~/MantTipoVehiculos/InsertarTipoVehiculos" class="btn btn-success">Agregar Tipo Vehículo</a>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    <!--Incluir código .net
        Recorrido para la vista
        -->
    @{
        foreach (SistVehiculo.Models.pa_RetornaTiposVehiculo_Result posicionModelo in this.Model)
        {
            <tr>
                <td>@posicionModelo.codigo</td>
                <td>@posicionModelo.tipo</td>
                <td>
                    <a href="~/MantTipoVehiculos/ModificarTipoVehiculos?idTipoVehiculo=@posicionModelo.idTipoVehiculo" class="btn btn-warning">Modificar</a>
                    <br />
                    <a href="~/MantTipoVehiculos/EliminarTipoVehiculos?idTipoVehiculo=@posicionModelo.idTipoVehiculo" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>