#frmBusquedaServiciosProductos {
    padding: 25px 0px 15px 0px;
}

.row {
    padding: 0px 0px 0px 310px;
}

#btnAceptar {
    margin: 30px 0px 0px 0px;
}

.btnModificar {
    margin: 0px 0px 10px 0px;
}

#frmNuevoTipoVehiculo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frmModificaTiposVehiculo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frmEliminarTiposVehiculo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}