/*Inicio Estilo Header*/
.containerHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 98%;
    max-height: 610px;
    margin-top: 15px;
}

.containerHeader .panel{
    width: 60%;
    height: 72%;
    box-shadow: green;
}

.row{
    display: grid;
    grid-template-columns: 75% 60%;
    height: 100%;
    background-color: #fff;
}

.liquid {
    background: url('../img/Wave.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px !important;
}

.carousel {
    width: 100%;
    height: 320px;
    max-height: 330px;
}

.carousel .carousel-item .login_img{
    float: left;
    width: 550px !important;
    height: 450px !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-indicators {
    padding: 3rem 1.2rem;
    display: flex !important;
    transform: translate(-60px, 140px);
}

.info .btn-signup {
    background: red;
    float: right;
    margin-right: 8rem !important;
    margin: 1rem;
}

.contenidoinfo {
    height: 55%;
    max-height: 280px;
    margin-top: 5.5rem;
}

.contenidoinfo h3, .contenidoinfo p {
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    padding-left: 15rem;
}

.contenidoinfo p{
    padding: .5rem .1rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    position: relative;
    right: -100px;
}
/*Final Estilo Header*/
