/*Inicio Estilo Header*/
.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/spritePrincipalHeader.png);
}

.Login1 {
    width: 550px;
    height: 450px;
    background-position: -0px -0px
}

.Login2 {
    width: 550px;
    height: 450px;
    background-position: -550px -0px
}

.Login3 {
    width: 550px;
    height: 450px;
    background-position: -1100px -0px
}

.containerHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 98%;
    max-height: 610px;
    margin-top: 15px;
}

.containerHeader .panel{
    width: 60%;
    height: 72%;
    box-shadow: green;
}

.row{
    display: grid;
    grid-template-columns: 75% 60%;
    height: 100%;
    background-color: #fff;
}

.liquid {
    background: url('../img/Wave.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px !important;
}

.carousel {
    width: 100%;
    height: 320px;
    max-height: 330px;
}

.carousel .carousel-item .login_img{
    float: left;
    width: 550px !important;
    height: 450px !important;
    background-repeat: no-repeat !important;
}

.carousel-indicators {
    padding: 3rem 1.2rem;
    display: flex !important;
    transform: translate(-60px, 140px);
}

.carousel-indicators li {
    width:10px!important;
    height:10px!important;
    margin-right:5px!important;
    margin-left:5px!important;
    border-radius:50%!important;
    border:0!important;
    background-color:transparent!important;
    box-shadow:0 0 0 .2rem white;
}

.info .btn-signup {
    background: #F63D66;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    margin-right: 6rem !important;
    margin: 1rem;
}

.contenidoinfo {
    height: 55%;
    max-height: 280px;
    margin-top: 5.5rem;
}

.contenidoinfo h3, .contenidoinfo p {
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    padding-left: 15rem;
}

.contenidoinfo p{
    padding: .5rem .1rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    position: relative;
    right: -100px;
}
/*Final Estilo Header*/
