

@section css{
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}


@{
    ViewBag.Title = "Mi Reporte Vehiculos";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Mi Reporte de Vehiculos</h2>
@{
    int dataUser = int.Parse(Session["idusuario"].ToString());
}

<input type="hidden" id="hdIdCliente" value="dataUser" />


<div id="divKendoGrid">

</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/reutilizacionScript.js"></script>
    <script src="~/Scripts/mantClientesConsultores/RpVehiculosClienteConsultor.js"></script>
}



