@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="~/Content/mantMarcaVehiculos/mantMarcaVehiculos.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Nuevo Marca Vehículo";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Nueva Marca Vehículo</h2>

<form id="frmNuevoMarcaVehiculo" method="post">
    <div class="form-group">
        <label>Código:</label>
        <input type="text" name="codigo" id="codigo" class="form-control" />
    </div>

    <div class="form-group">
        <label>País Fabricante:</label>
        <select name="idPaisFabricante" id="idPaisFabricante" class="form-control">
            <option value="">Seleccione un País Fabricante</option>
            @{
                foreach (SistVehiculo.Models.pa_RetornaPaisFabricante_Result paises in this.ViewBag.ListaPaises)
                {
                    /*Almacena el ID del género y muestra el nombre del género*/
                    <option value="@paises.idFabricante">@paises.pais</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Marca:</label>
        <input type="text" name="marca" id="marca" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Registrar" id="btnAceptar" class="btn btn-success btnRegistrarMarca" />
    </div>
</form>
<a href="~/MantMarcaVehiculos/ListaMarcaVehiculos" class="btn btn-primary">Regresar a la lista</a>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/MantMarcaVehiculos/mantMarcaVehiculos.js"></script>
}